/* Variable declarations */

:root {
    --my-color-background: limegreen;
    --my-color-footer-background: rgb(255, 255, 255);
    --my-color-footer-border-top: rgb(250, 132, 43);
    --my-color-header-background: rgb(255, 255, 255);
    --my-color-lines: rgb(200, 200, 200);
    --my-color-main-background: rgb(255, 255, 255);
    --my-color-main-buffer: rgb(220, 220, 220);
    --my-color-main-text: rgb(150, 150, 150);
    --my-height-footer: 50px;
    --my-height-footer-line: 5px;
    --my-height-header: 60px;
    --my-height-header-line: 5px;
    --my-height-list-item: 120px;
    --my-size-img: 87px;
    --my-size-imgbutton: 40px;
    --my-size-imgbutton-img: 28px;
    --my-size-img-tiles: 150px;
    --my-spacing-0: 0px;
    --my-spacing-6: 6px;
    --my-spacing-10: 10px;
    --my-spacing-15: 15px;
}

/* Init values */

html, body {
    background-color: var(--my-color-background);
    margin: var(--my-spacing-0);
    font-family: "Avenir Medium", sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* Hide scrollbar */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

/* Block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* Base structure */

header {
    background-color: var(--my-color-header-background);
    height: var(--my-height-header);
}

main {
    background-color: var(--my-color-main-background);
    height: calc(100% - (var(--my-height-header) + var(--my-height-footer)));
}

footer {
    background-color: var(--my-color-footer-background);
    height: var(--my-height-footer);
    padding-left: var(--my-spacing-10);
    padding-right: var(--my-spacing-10);
}

/* Main scrolling */

p {
    margin: var(--my-spacing-0);
    padding: var(--my-spacing-10);
}

main {
    overflow-y: auto;
}

/* Header */

h1 {
    font-size: 20pt;
    display: inline-block;
    margin: var(--my-spacing-0);
    padding-left: var(--my-spacing-6);
    font-weight: normal;
    line-height: calc(var(--my-height-header) - var(--my-height-header-line));
}

header {
    padding-right: var(--my-spacing-10);
    padding-left: var(--my-spacing-10);
    border-bottom: var(--my-height-header-line) solid var(--my-color-lines);
}

/* Main */

h2 {
    color: rgb(0, 0, 0);
}

main {
    color: var(--my-color-main-text);
}

.buffer {
    height: 20px;
    background-color: var(--my-color-main-buffer);
}

/* Footer */

footer {
    border-top: var(--my-height-footer-line) solid var(--my-color-footer-border-top);
}

/* Left|right alignment, imgbuttons */

.imgbutton {
    margin-right: var(--my-spacing-10);
    border: none;
    background-color: transparent;
    color: transparent;
    filter: invert(60%);
    height: var(--my-size-imgbutton);
    width: var(--my-size-imgbutton);
    background-size: var(--my-size-imgbutton-img) auto;
    background-repeat: no-repeat;
    background-position: center;
}

header .imgbutton {
    margin-top: calc((var(--my-height-header) - var(--my-size-imgbutton) - var(--my-height-header-line)) / 2);
}

footer .imgbutton {
    margin-top: calc((var(--my-height-footer) - var(--my-size-imgbutton) - var(--my-height-footer-line)) / 2);
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.menu-button {
    background-image: url('./img/glyphicons/png/glyphicons-517-menu-hamburger.png');
}

.tile-button {
    background-image: url('./img/glyphicons/png/glyphicons-157-show-thumbnails.png');
}

.add-button {
    background-image: url('./img/glyphicons/png/glyphicons-433-plus.png');
    margin-right: var(--my-spacing-0);
}

.logout-button {
    background-image: url('./img/glyphicons/png/glyphicons-388-log-out.png');
}

.refresh-button {
    background-image: url('./img/glyphicons/png/glyphicons-82-refresh.png');
    margin-right: var(--my-spacing-0);
}

.option-button {
    background-image: url('./img/glyphicons/png/glyphicons-518-option-vertical.png');
}

.play-button {
    background-image: url('./img/glyphicons/png/glyphicons-174-play.png');
}

/* List view */

main ul {
    list-style: none;
    padding: var(--my-spacing-0);
    margin: var(--my-spacing-0);
}

.block {
    display: block;
    margin-top: calc((var(--my-height-list-item) - var(--my-size-img)) / 2);
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
    font-size: 12pt;
}

.first-row {
    padding-right: 16px;
}

.second-row {
    padding-top: 16px;
}

.third-row {
    padding-top: 11px;
    padding-right: 14px;
}

div.tag {
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
}

main li {
    height: var(--my-height-list-item);
    line-height: var(--my-height-list-item);
    border-bottom: 1px solid var(--my-color-lines);
    padding-left: var(--my-spacing-15);
    padding-right: var(--my-spacing-10);
    margin-top: 11px;
}

main li h2 {
    display: inline-block;
    font-weight: normal;
    margin: var(--my-spacing-0);
    font-size: 15pt;
}

.play-button {
    display: inline-block;
    object-fit: cover;
    margin-right: 20px;
    padding: 0px;
    margin: 0px;
    width: 14px;
    height: 20px;
    background-size: 14px 13px;
}

.option-button {
    display: inline-block;
    object-fit: cover;
    padding-right: var(--my-spacing-10);
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    width: 12px;
    height: 25px;
    background-size: auto 25px;
}

main li img {
    height: var(--my-size-img);
    width: var(--my-size-img);
    object-fit: cover;
    margin-right: var(--my-spacing-10);
    margin-top: 4px;
}

/* Tiles */

.tiles ul {
    margin: 0px auto;
    /* Center UL */
    width: 2050px;
    /* Max value. Value changes via media queries */
    padding-left: 5px;
    /* Extra padding to get 15px in total */
    padding-right: 5px;
    /* Extra padding to get 15px in total */
    font-size: 0px;
    /* Remove whitespace, if needed in LI, redefine in LI */
}

.tiles li {
    display: inline-block;
    border-bottom: none;
    margin-top: 0px;
    margin-bottom: var(--my-spacing-10);
    margin-left: var(--my-spacing-10);
    margin-right: var(--my-spacing-10);
    padding: 0px;
    height: var(--my-size-img-tiles);
    width: var(--my-size-img-tiles);
}

.tiles li * {
    display: none;
}

.tiles li img {
    display: block;
    margin: 0px;
    height: var(--my-size-img-tiles);
    width: var(--my-size-img-tiles);
}

.tiles .list-button {
    background-image: url('./img/glyphicons/png/glyphicons-115-list.png');
    background-size: auto var(--my-size-imgbutton-img);
}

/* Fade in|out */

main.faded {
    opacity: 0;
    transition: opacity 2s;
}

main {
    opacity: 1;
    transition: opacity 1s;
}

/* Media Queries */

@media screen and (max-width: 519px) {
    .tiles ul {
        width: 350px;
    }
}

@media screen and (min-width: 520px) and (max-width: 689px) {
    .tiles ul {
        width: 520px;
    }
}

@media screen and (min-width: 690px) and (max-width: 859px) {
    .tiles ul {
        width: 690px;
    }
}

@media screen and (min-width: 860px) and (max-width: 1029px) {
    .tiles ul {
        width: 860px;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1199px) {
    .tiles ul {
        width: 1030px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1369px) {
    .tiles ul {
        width: 1200px;
    }
}

@media screen and (min-width: 1370px) and (max-width: 1539px) {
    .tiles ul {
        width: 1370px;
    }
}

@media screen and (min-width: 1540px) and (max-width: 1709px) {
    .tiles ul {
        width: 1540px;
    }
}

@media screen and (min-width: 1710px) and (max-width: 1879px) {
    .tiles ul {
        width: 1710px;
    }
}

@media screen and (min-width: 1880px) and (max-width: 2049px) {
    .tiles ul {
        width: 1880px;
    }
}