/* variable declarations */

:root {
    --my-color-background: limegreen;
    --my-color-header: rgb(60, 60, 60);
    --my-color-main: rgb(45, 45, 45);
    --my-color-footer: rgb(15, 15, 15);
    --my-height-header: 60px;
    --my-height-footer: 50px;
    --my-spacing-a: 0px;
    --my-spacing-b: 10px;
    --my-size-imgbutton: 40px;
    --my-size-imgbutton-img: 28px;
    --my-height-list-item: 70px;
    --my-color-lines: rgb(120, 120, 120);
    --my-size-img: 50px;
    --my-size-img-tiles: 100px;
}

html, body {
    background-color: var(--my-color-background);
    margin: var(--my-spacing-a);
    font-family: "Avenir Medium", sans-serif;
    color: white;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* base structure */

header {
    background-color: var(--my-color-header);
    height: var(--my-height-header);
}

main {
    background-color: var(--my-color-main);
    height: calc(100% - (var(--my-height-header) + var(--my-height-footer)));
}

footer {
    background-color: var(--my-color-footer);
    height: var(--my-height-footer);
    padding-left: var(--my-spacing-b);
    padding-right: var(--my-spacing-b);
}

/* main scrolling */

p {
    margin: var(--my-spacing-a);
    padding: var(--my-spacing-b);
}

main {
    overflow-y: auto;
}

/* heading */

h1 {
    font-size: 20pt;
    display: inline-block;
    margin: var(--my-spacing-a);
    font-weight: normal;
    line-height: var(--my-height-header);
    text-transform: uppercase;
}

header {
    padding-right: var(--my-spacing-b);
    padding-left: var(--my-spacing-b);
}

/* left/right alignment, imgbuttons */

.imgbutton {
    margin-right: var(--my-spacing-b);
    border: none;
    background-color: transparent;
    color: transparent;
    filter: invert(90%);
    height: var(--my-size-imgbutton);
    width: var(--my-size-imgbutton);
    background-size: var(--my-size-imgbutton-img) auto;
    background-repeat: no-repeat;
    background-position: center;
}

header .imgbutton {
    margin-top: calc((var(--my-height-header) - var(--my-size-imgbutton)) / 2);
}

footer .imgbutton {
    margin-top: calc((var(--my-height-footer) - var(--my-size-imgbutton)) / 2);
}

.imgbutton:last-child {
    margin-right: var(--my-spacing-a);
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.menu-button {
    background-image: url('./img/glyphicons/png/glyphicons-517-menu-hamburger.png');
}

.add-button {
    background-image: url('./img/glyphicons/png/glyphicons-433-plus.png');
}

.refresh-button {
    background-image: url('./img/glyphicons/png/glyphicons-82-refresh.png');
}

.edit-button {
    background-image: url('./img/glyphicons/png/glyphicons-31-pencil.png');
}

/* list view */

main ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

main li {
    height: var(--my-height-list-item);
    line-height: var(--my-height-list-item);
    border-bottom: 1px solid var(--my-color-lines);
    padding-left: 15px;
    padding-right: 10px;
    font-size: 20pt;
}

main li .imgbutton {
    margin-top: calc((var(--my-height-list-item) - var(--my-size-imgbutton)) / 2);
}

main h2 {
    display: inline-block;
    font-weight: normal;
    margin: 0px;
    font-size: 20pt;
}

main li img {
    height: var(--my-size-img);
    width: var(--my-size-img);
    object-fit: cover;
    margin-top: calc((var(--my-height-list-item) - var(--my-size-img)) / 2);
    margin-right: 10px;
}

/* tiles */

.tiles li {
    display: inline-block;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 0px;
    height: calc(var(--my-size-img-tiles) + 10px);
}

.tiles li * {
    display: none;
}

.tiles li img {
    display: block;
    height: var(--my-size-img-tiles);
    width: var(--my-size-img-tiles);
}

.tiles main {
    padding-left: 10px;
}